.wrapper{
	width:100%;

	margin:0 auto;
}
.holder{
	height:60px;
	
}
.contactMeMessage{
	padding:30px 0 0 15px;

	vertical-align:top;
	
}
.phoneImg{
	padding:30 30 0 0;
	float:left;
}
.phoneNumberContact{
	padding-left:25px;
	
}
.emailContact{
	
	padding-left:25px;
}